*.~uml
*.csv 
*.dll
*.log
*.exe
*.txt
*.dump
*.dmp
*.dat 

static/

#ignore this dir##
/.vs/
/server/.vs/
/server/runtime/
/server/resource/
/client/dist/
/client/node_modules/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exp
*.out
*.app

# msvc
*.db
*.suo
*.user
*.opendb
*.sdf
*.opensdf

#vue
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

